<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="DATAFILLER/vendor/autoload.php"
         colors="true"
         verbose="true"
>
    <testsuites>
        <testsuite name="Unit">
            <directory>./tests/Unit</directory>
        </testsuite>
        <testsuite name="Integration">
            <directory>./tests/Integration</directory>
        </testsuite>
    </testsuites>
    <coverage>
        <include>
            <directory suffix=".php">DATAFILLER/models/</directory>
            <directory suffix=".php">DATAFILLER/controllers/</directory>
        </include>
        <report>
            <html outputDirectory="coverage"/>
        </report>
    </coverage>
</phpunit>