<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/11.5/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
         stopOnFailure="false"
         cacheDirectory=".phpunit.cache"
         failOnWarning="false"
         failOnRisky="false">
    
    <testsuites>
        <testsuite name="Unit Tests">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    
    <source>
        <include>
            <directory suffix=".php">controllers</directory>
            <directory suffix=".php">models</directory>
        </include>
        <exclude>
            <directory>vendor</directory>
            <directory>tests</directory>
            <directory>config</directory>
            <file>index.php</file>
        </exclude>
    </source>
    
    <coverage>
        <report>
            <html outputDirectory="coverage" lowUpperBound="70" highLowerBound="90"/>
            <clover outputFile="coverage.xml"/>
            <text outputFile="php://stdout" showUncoveredFiles="true"/>
        </report>
    </coverage>
    
    <php>
        <env name="DB_HOST" value="127.0.0.1"/>
        <env name="DB_NAME" value="test_datafiller"/>
        <env name="DB_USER" value="root"/>
        <env name="DB_PASS" value="root"/>
    </php>
</phpunit>